{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" >
    {% csrf_token %}
    {{ form|crispy }}
    <div>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </div>
    <div class="p-2">
        <button class="btn btn-dark" type="submit">Log in</button>
    </div>
    <div class="form-check">
        <p>Don't Have an account?<a style="text-decoration: none;color: black; text-transform: capitalize;" href="signUp"> Create One</a> </p>
    </div>
</form>
 {% endblock content %}